*{
    padding:0;
    margin:0;
}
#wrapper{
    width:1500px;
    display:inline-block;
}
#heading{
    width: 1500px;
    display:inline-block;
}
.logo{
    max-width:150px;
    position:relative;
}
h1{
    display:inline-block;
    font-size:60px;
    vertical-align: top;
    padding:40px 0px 0px 0px;
    font-family: "Arial";
    position:relative;
}
h1 span{
    color:lightblue;
}
h2{
    height:50px;
    background-color:rgb(32, 97, 194);
    font-family:"Arial";
    color:white;
    padding:20px 0px 0px 20px;
    font-size:30px;

}
#sidebar{
    width:250px;
    display:inline-block;
    margin:30px 0px 30px 10px;
    vertical-align: top;
}
h3{
    font-family:"Arial";
    font-size:20px;
}
h3 span{
    color:red;
}
.internetp span{
    color:blue;
}
.internetp{
    font-family:"Arial";
    font-size:15;
    font-weight: 200;
}
.button1{
    background-color: rgb(50, 62, 167);
    border-radius:10px;
    color: white;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 2px;
}
.button2{
    background-color: rgb(230, 166, 28);
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
.divideline{
    height:3px;
    background-color:grey;
    margin:15px 0px 15px 0px;
}
.ads{
    background-image: url("ad_background.png");
    length:550px;
}
.adsname{
    color:white;
    font-family:"Arial";
    text-align:center;
    padding:30px 10px 20px 10px;
    box-sizing:border-box;
    font-size:25px;
    
}
.ninja{
    max-width:150px;
    margin:0px 0px 0px 40px;

}
.button3{
    background-color: rgb(83, 166, 221);
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 0px 20px 40px;
}
#maincontent{
    display:inline-block;
    width:1150px;
    vertical-align: top;

}
#top{
    width:1150px;
    display:inline-block;
    vertical-align:top;
}
.DNS{
    max-width:20px;
    display:inline-block;
    vertical-align: top;
    margin-top:15px;
}
.DNSTEXT{
    display:inline-block;
    Font-family:"Arial";
    color:lightblue;
    padding-right:800px;
    vertical-align: top;
    margin-top:15px;
}
.phone{
    max-width:50px;
    display:inline-block;
    margin-top:10px;
}
#info{
    display:inline-block;
    margin:10px 0px 0px 0px;
    vertical-align: top;
}
.days{
    color:grey;
    font-family: "Arial";
}
.tel{
    color:rgb(8, 173, 202);
    font-family: "Arial";
    font-size:25px;
}